*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

.container{
    min-height: 80vh;
    background: url("1.png") center/cover fixed no-repeat;
    border: 0.5rem solid rgb(215, 207, 207);
    border-radius: 0.5rem;
    position: relative;
    margin: 4rem auto;
    box-shadow: 10px 10px 35px grey;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btnLeft{
    left: 20px;
}

.btnRight{
    right: 20px;
}

.btnLeft, .btnRight {
    position: absolute;
    top: 50%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #894b4b;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    color: white;
    transform: translate(-50% -50%);
}

.btnLeft:hover, .btnRight:hover {
    background-color: #ddd;
}
